$paddingForm: 15px;
@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixi;



.sign{

    display: grid;
    grid-template-columns: 1.25rem 1fr 1fr;
    margin-top: 5.625rem;
    box-shadow: .5rem .625rem 1.875rem -.375rem rgba(0,0,0,0.75);
    align-items: center;
    @include mixi.formBorders();

    &_home{
        top: -16.875rem;

        .MuiSvgIcon-root{
            color: variables.$regBackground;
        }
    }

    &_home-have{
        top: -16.875rem;
        z-index: 2;

        .MuiSvgIcon-root{
            color: white;
        }
        
    }


    
    &_form, &_form-have{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        transition: transform 1s;
        &-up{
            color: red;
        }
        &-in{
            // background-color: lightcoral;
            &_additional{
                display: none;
            }
        }

        &_text{
            margin-bottom: 2.5rem;

        }

    }
    
    &_form-have{
        transform: translate(38.4375rem);
    }
    
    &_information, &_information-have{
        @include mixi.formBorders();
        display: grid;
        grid-template-columns: auto 1fr;
        height: 37.5rem;
        place-items: center;
        text-align: center;
        transition: transform 1s;
        color: white;

    }

    &_information{
        background-color: variables.$regBackground;

        &_text{
            position: relative;
            right: 3.125rem;
        }
        
    }

    &_information-have{
        background-color: variables.$logBackground;
        transform: translate(-36.6875rem);

        &_text{
            position: relative;
            right: 8.75rem;
        }

        
    }


}

.spacer{
    aspect-ratio: 200/300;
    width: 12.5rem;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lay1{
    background-image: url('/public/wave_light_reg.svg');
}

.lay2{
    position: relative;
    left: 230%;
    background-image: url('/public/wave_light_log.svg');
}
