@use '../abstracts/variables' as variables;

.footer{
    &_container{
        background-color: variables.$logBackground;
        color: white;

        display: grid;
        grid-template-rows: 200px 1fr auto;

        &_header{
            display: flex;
            justify-content: space-evenly;

            .MuiSvgIcon-root{
                color: white;
            }

            .MuiSvgIcon-root:hover{
                color: variables.$logButtonHover
            }
        }
        &_body{
            display: grid;
            grid-template-columns: 1fr 1fr;

            margin-block: 25px;

            &-useful{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-contact{
                &--box{
                    display: flex;
                    justify-content: center;
                    margin-block: 10px;
                    .MuiTypography-root{
                        margin-left: 10px;
                    }
                    
                    .MuiSvgIcon-root{
                        margin-right: 10px;
                    }
                }
            }
        }

        &_other{
            height: 50px;

            display: grid;
            grid-template-columns: 1fr 1fr;
            place-content: center;
            justify-content: center;

            margin-block: 15px;

            .MuiDivider-root{
                border-color: white;
            }

        }
    }
}

.bottom{
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: cover;
    height: 150px;
}
.footer-light{
    background-image: url('/wave_footer_light.svg');
}
.footer-dark{
    background-image: url('/wave_footer_dark.svg');

}